* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    color: #333;

}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: #007a85;
}

.menu {
  display: flex;
  list-style: none;
  gap: 22px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.cta {
  background: #c21f1f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 25px 50px;
}

.filter {
    padding: 10px 22px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #f4f4f4;
    cursor: pointer;
}
.filter.active {
    background: #007a85;
    color: white;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px 40px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  padding: 15px 18px 5px;
  color: #333;
  line-height: 1.3;
}

.explore {
  display: block;
  padding: 0 18px;
  color: #007a85;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 12px;
}

.quote {
  margin-left: 18px;
  background: #007a85;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  font-weight: 600;
}

.quote:hover {
  background: #005f67;
}

/* Responsive */
@media(max-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 650px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
